<!-- PAGE DE CHANGEMENT DE MOT DE PASSE -->

{% extends 'squelette.html' %}
{% block title %}Changer le mot de passe{% endblock %}
{% block content %}

<div class="grid items-center justify-center min-h-screen bg-gray-100 py-8">

    <form method="POST" class="">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">Changer votre mot de passe</h1>
        {% csrf_token %}

        {{ form}}

        <div class="items-center justify-between">
            <button type="submit"
                    class="w-full bg-neutral-600 hover:bg-neutral-800 text-white font-bold py-2 px-4 rounded-md transition duration-300">
                Mettre à jour le mot de passe
            </button>
        </div>


        <!-- S'il y'a un message (erreur), alors il est affiché, ce message est gérer dans views.py, dans la fonction change_password -->
        {% if messages %}
            {% for message in messages %}
                <div class="bg-red-100 text-red-700 p-4 rounded mb-6 mt-6">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    </form>
</div>
{% endblock %}
