{% extends 'squelette.html' %}
{% load socialaccount %}

{% block title %}Mot de passe oublié{% endblock %}
{% block content %}



<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-8">


  <form method="POST" class="bg-white rounded-lg shadow-lg w-full max-w-md mb-8">
    {% csrf_token %}
    <div class="items-center justify-between">
      {{ form}}
    </div>
    <div class="items-center justify-between">
        <button  type="submit" class="w-full bg-neutral-600 hover:bg-neutral-800 text-white font-bold py-2 px-4 rounded-md transition duration-300">
          Réinitialiser mon mot de passe
        </button>
    </div>
  </form>
</div>



{% endblock %}