{% extends 'squelette.html' %}
{% load static %}

{% block title %}Inscription validé{% endblock %}
{% block content %}

<!-- Page qui affiche un cadre avec les infos de l'inscritpions qui vient d'etre faites-->

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-8">
        <div class="bg-green-100 text-green-700 p-4 rounded mb-6">
            <p>Inscription réussie !</p>
            <ul class="mt-2">
                <li><strong>Nom :</strong> {{ insc.nom }}</li>
                <li><strong>Prénom :</strong> {{ insc.prenom }}</li>
                <li><strong>Email :</strong> {{ insc.email }}</li>
                <li><strong>Âge :</strong> {{ insc.age }}</li>
                <li><strong>Course :</strong> {{ insc.course }}</li>
            </ul>
        </div>
</div>

{% endblock %}